<% @questions.group_by(&:subject).each do |grouped_question |%>
  <% questions = grouped_question.last %>
    <% questions.each do |question|%>
    <%= question.question %>
    <% if question.subject == Subject.temp_time or question.subject == Subject.spa_place or question.subject == Subject.lan_rep or question.subject == Subject.lan_cmd_one or question.subject == Subject.lan_copy %>
      <% range = 0..1 %>
    <% elsif question.subject == Subject.reg or question.subject == Subject.rec or question.subject == Subject.lan_complex %>
      <% range = 0..3 %>
    <% elsif question.subject == Subject.lan_name %>
      <% range = 0..2 %>
    <% elsif question.subject == Subject.lan_cmd_two %>
      <% range = 0..1 %>
    <% else %>
      <% range = 1..5 %>
    <% end %>

    <% if [Subject.lan_cmd_two, Subject.lan_copy].include?(question.subject) %>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal<%= question.subject.id %>">
       Launch modal





      </button>
      <!-- Modal -->
      <div class="modal fade" id="myModal<%= question %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel"><%= question.question %></h4>
           </div>
           <div class="modal-body">
             <div class="col-xs-12">
                <h2>Draw Something:</h2>
               <canvas width="500" height="700" id="canvas" style="background: white";></canvas>
                <ul>
                  <li> <input type="range" id="marker" max="10" min="1" value-"1"></li>
                  <li><button class="clear" id="clear">Clear Scetchbook</button></li>
                </ul>


                </div><!--end container-->
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Save changes</button>
           </div>
         </div>
       </div>
      </div>
     <% end %>
    <%= select_tag "question[]", options_for_select((range).step(1) {|s| ["#{s}%", s]}), data: { question: question}%>

    <br>
  <% end %>
<hr>
<% end %>

<input class="btn btn-primary" type="submit" value="Submit">
<br>
<%= link_to "Next", new_canvas_question_a_path %>
