<div class="practitioner-home" style="background: url(<%= image_url('keyboard_doc.jpg') %>)">


  <% if !!current_practitioner %>
  <br>
  <br>
  <div class='wrap'>

    <div class = "blocks">
      <%= link_to 'https://www.ncbi.nlm.nih.gov/pubmed', target: :_blank do %>
      <%= image_tag "PubMed_logo.png", height: '140', width: '350' %>
      <% end %>
    </div>

    <div class = "blocks">
      <%= link_to 'https://online.epocrates.com/rxmain', target: :_blank do %>
      <%= image_tag "Epocrates_logo.png", height: '140', width: '420' %>
      <% end %>
    </div>

    <div class = "blocks">
      <%= link_to 'http://patients.aan.com/findaneurologist/', target: :_blank do %>
      <%= image_tag "AAN_logo.jpg", height: '140', width: '350' %>
      <% end %>
    </div>
  </div>

  <div class="user-input">

    <h1 class="title">Mini Mental State Exam</h1>

    <div class="select-patient-session">
      <div class="user">
        <div class="select-patient">
          <%= link_to 'Select Patient', patients_path %>
        </div>
        |
        <%= @testing %>

        <div class="create-patient">
          <%= link_to 'Create New Patient', new_patient_path %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="user-login-input">
      <h1 class="title">Mini Mental State Exam</h1>
      <div class="login-practitioner-page">
        <h3 class="">Practitioner Log in</h3>
        <br>
        <%= form_tag '/login' do %>
        <p>
          <%= label_tag "Practitioner Email" %>
          <%= text_field_tag "practitioner[email]", '', placeholder: "Practitioner Email" %>
        </p>
        <p>
          <%=label_tag "Practitioner Password" %>
          <%= password_field_tag "practitioner[password]", '', placeholder: "Password" %>
        </p>
        <p>
          <%= submit_tag "Log in", class:'btn btn-success btn-lg' %>
          <p><%= link_to 'Forgot password', new_password_reset_path %>
          </p>
        </p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
