<p id="notice"><%= notice %></p>

<p>
  <strong>Identification:</strong>
  <%= @practitioner.identification %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @practitioner.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @practitioner.first_name %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @practitioner.password_digest %>
</p>

<%= link_to 'Edit', edit_practitioner_path(@practitioner) %> |
<%= link_to 'Back', practitioners_path %>
