<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Reason for visit</th>
      <th>Insurance</th>
      <th>Policy number</th>
      <th>Telephone</th>
      <th>Address</th>
      <th>Email</th>
      <th><colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @patients.each do |patient| %>
    <tr>
      <td><%= link_to patient.first_name, new_question_path(patient.id)%></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.date_of_birth %></td>
      <td><%= patient.gender %></td>
      <td><%= patient.reason_for_visit %></td>
      <td><%= patient.insurance %></td>
      <td><%= patient.policy_number %></td>
      <td><%= patient.telephone %></td>
      <td><%= patient.address %></td>
      <td><%= patient.email %></td>
      <td><%= link_to 'Show', patient %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Patient', new_patient_path %>
<%= link_to 'Back', '/login' %>
