<h1><center><font size="10" face="georgia">Patient Summary</center></font></h1>
<div class="patient-summary">
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @patient.reason_for_visit %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance %>
</p>

<p>
  <strong>Policy number:</strong>
  <%= @patient.policy_number %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @patient.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>
<br>
  <div class="patient-summary-button">
    <%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-success btn-lg' %>
   &nbsp;&nbsp;
    <%= link_to 'Back', patients_path, class: 'btn btn-success btn-lg' %>

    <%= link_to 'Delete', patient_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-lg pull-right'%>
  <div>

</div>
