<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @patient.reason_for_visit %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance %>
</p>

<p>
  <strong>Policy number:</strong>
  <%= @patient.policy_number %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @patient.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
