<!DOCTYPE html>
<html>

<head>
  <title>📈MMSE</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="questions.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="questions.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body>
  <header class="nav fixed">
    <div class="navbar" style="background-color: #ABC3CE; margin: 0;">
      <div class="nav-active">
        <% if current_practitioner  %>
        Signed in as: <%= current_practitioner.email %> | <%= link_to "Logout", '/logout' %>
        <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Create Account', new_practitioner_path %>
        <% end %>
      </div>
      <div class="logo1">
        <%= link_to root_path do %>
        <%= image_tag "logo1.png"%>
        <% end %>
      </div>
      <div class="logo2">
        <%= link_to root_path do %>
        <%= image_tag "logo2.png" %>
        <% end %>
      </div>
    </div>
  </header>
  <div class="height-100"></div>

  <%= yield %>

</body>
</head>
</html>
