<!DOCTYPE html>
<html>
<head>
  <title>MMSE</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if current_practitioner  %>
  Signed in as <%= current_practitioner.identification %> | <%= link_to "Logout", '/logout' %>
  <% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Create Account', new_practitioner_path %>
  <% end %>

  <%= yield %>
</body>
</html>
